<div class="row mt-3">
  <div class="col"></div>
  <div class="col">
    <div class="mb-3">
      <button (click)="onClick()" class="mx-1">Click</button>
    </div>
    <div></div>
    <div class="mb-3">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="toggleEdit()">
          {{ isEditable ? 'Edit Mode' : 'Read Mode' }}
        </button>
        <button type="button" class="btn btn-primary" (click)="clearTableRowData()">Clear All</button>
        <button type="button" class="btn btn-danger" (click)="saveSelectedRows()" [attr.disabled]="isEditable ? null : true">
          Save Selected
        </button>
      </div>
    </div>
    <div *ngIf="isEditable" class="alert alert-info" role="alert">
      <strong>JUST TRY IT:</strong> Ctrl+V to paste csv row data
    </div>
    <div *ngIf="isProcessing" class="d-flex align-items-center">
      <mat-spinner [diameter]="25"></mat-spinner>
      <div>Saving data to Server ... </div>
    </div>
    <ag-grid-angular
      #agGrid
      style="width: 800px; height: 800px;"
      class="ag-theme-balham"
      [rowData]="rowData"
      [defaultColDef]="defaultColDef"
      [columnDefs]="columnDefs"
      [headerHeight]="40"
      rowSelection="multiple"
      [rowMultiSelectWithClick]="true"
      [isRowSelectable]="isRowSelectable"
      [suppressRowClickSelection]="true"
    >
    </ag-grid-angular>
  </div>
  <div class="col"></div>
</div>
